input[type=checkbox] {
  -webkit-appearance: none;
  width: 18px;
  height: 18px;
  line-height: 1.7em;
  border: 2px solid #AAA;
  padding: 0;
  margin: 0 5px;
  position: relative;
}

input[type='text'] {
  border: 2px solid #AAA;
  border-radius: 0;
  padding: 3px 8px;
  box-sizing: content-box;
  &:focus {
    border: 2px solid #AAA;
  }
}

input[type=checkbox]:checked:after {
  font-family: Icomoon;
  content: '\e0f0';
  line-height: 1em;
  font-size: 10px;
  color: #aaa;
  position: absolute;
  top: 2px;
  left: 2px;
}

label {
  margin: 10px 0px;
}

.label-desc {
  line-height: 1.7em;
}

.label-block {
  display: block;
  clear: both;
}

.prepros-button {
  display: inline-block;
  color: #666;
  background: #AAA;
  padding: 8px 12px;
  border: none;
  &:hover {
    background: #CCC;
  }

  &:active {
    background: #8A9B0F;
  }
}

select {
  border: 2px solid #AAA;
  border-radius: 0;
}

.tooltip .tooltip-inner {
  max-width: 900px;
  white-space: nowrap;
}

.modal-backdrop,
.modal-backdrop.fade.in {
  opacity: 0.5;
}

.modal.fade.in {
  top: 5%;
}