footer
	.row
		.small-3.large-3.columns
			h3 Contact Me
			span.contact-item
				i.icon-mail
				a(href='mailto:subash@subash.me') subash@subash.me
			span.contact-item
				i.icon-twitter
				a(href='http://twitter.com/sbspk') @sbspk
			span.contact-item
				i.icon-dribbble
				a(href='http://dribbble.com/subash') @subash
			span.contact-item
				i.icon-github
				a(href='http://github.com/sbspk') @sbspk

		.small-3.large-3.columns
			h3 Thanks to
			span.contact-item
				a(href="https://github.com/mattclements") Matt Clements
			span.contact-item
				a(href="http://github.com/zhchbin") Chaobin Zhang
			span.contact-item
				a(href="http://github.com/rogerwang/node-webkit") Node-Webkit Project
			span.contact-item
				a(href="https://github.com/sbspk/Prepros/graphs/contributors") All Contributors