footer
	.row
		.small-6.large-3.columns
			h3 Contact Me
			span.contact-item
				i.icon-mail
				a(href='mailto:subash@subash.me') subash@subash.me
			span.contact-item
				i.icon-twitter
				a(href='http://twitter.com/sbspk') @sbspk
			span.contact-item
				i.icon-dribbble
				a(href='http://dribbble.com/subash') @subash
			span.contact-item
				i.icon-github
				a(href='http://github.com/sbspk') @sbspk

		.small-6.large-3.columns
			h3 Thanks to
			span.contact-item
				a(href="https://github.com/mattclements") Matt Clements
			span.contact-item
				a(href="http://github.com/zhchbin") Chaobin Zhang
			span.contact-item
				a(href="http://github.com/rogerwang/node-webkit") Node-Webkit Project
			span.contact-item
				a(href="https://github.com/sbspk/Prepros/graphs/contributors") All Contributors

		.small-12.large-6.columns
			h3 Say Thanks
			p Please donate so I can spend more time making Prepros awesome.
			p(style="margin-top: 20px;")
				form(action="https://www.paypal.com/cgi-bin/webscr")(method="post")(target="_blank")
				input(type="hidden")(name="cmd")(value="_s-xclick")
				input(type="hidden")(name="hosted_button_id")(value="EGLVFC4YQK7WL")
				input(type="image")(src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_LG.gif")(name="submit")(alt="PayPal - The safer, easier way to pay online!")(onClick="ga('send', 'event', 'Donate Top');")