header
	.container
		.row
			div.span4
				a(href="http://alphapixels.com/prepros")
					h1.logo Prepros
			div.span8
				nav
					ul.clearfix.pull-right
						li
							a(href='http://alphapixels.com/prepros/docs')
								span.title Docs
								span.detail More About Prepros
						li
							a(href='http://alphapixels.com/prepros/faq.html')
								span.title Faq
								span.detail Burning Questions
						li
							a(href='http://alphapixels.com/prepros/changelog.html')
								span.title Changelog
								span.detail What's new in Prepros
						li
							a(href='http://github.com/sbspk/prepros')
								span.title Github
								span.detail Get Involved
