
nav
	.row

		.large-8.small-12.columns
			a(href="/prepros") Home
			a(href="/prepros/#download") Download
			a(href="http://alphapixels.com/prepros/docs/") Docs
			a(href="http://alphapixels.com/prepros/faq.html") FAQ
			a(href="http://alphapixels.com/prepros/changelog.html") Changelog
			a(href="http://github.com/sbspk/Prepros") Prepros on Github
		.large-4.small-12.columns
			.nav-buy-button
				a(href="http://alphapixels.com/prepros/pro/").
					Prepros Pro