#Prepros App

application/node_modules/*
!application/node_modules/.gitkeep

application/gems/gems/*
!application/gems/gems/.gitkeep

application/gems/specifications/*
!application/gems/specifications/.gitkeep

application/ruby/*
!application/ruby/.gitkeep

.idea
ffmpegsumo.dll
icudt.dll
libEGL.dll
libGLESv2.dll
nw.pak
Prepros.exe

# Windows image file caches
Thumbs.db

# Folder config file
Desktop.ini

# Mac crap
.DS_Store
