#Prepros App

application/node_modules/*
!application/node_modules/.gitkeep

application/ruby_gems/bourbon/*
!application/ruby_gems/bourbon/.gitkeep

application/ruby_gems/gems/*
!application/ruby_gems/gems/.gitkeep

application/ruby_gems/specifications/*
!application/ruby_gems/specifications/.gitkeep

application/ruby_exec/*
!application/ruby_exec/.gitkeep

.idea
ffmpegsumo.dll
icudt.dll
libEGL.dll
libGLESv2.dll
nw.pak
Prepros.exe

# Windows image file caches
Thumbs.db

# Folder config file
Desktop.ini

# Mac crap
.DS_Store
