#Prepros App
.idea
node_modules/
ruby_gems/bourbon/*
ruby_gems/gems/*
ruby_gems/specifications/*
ruby_exec
ffmpegsumo.dll
icudt.dll
libEGL.dll
libGLESv2.dll
nw.pak
Prepros.exe

# Windows image file caches
Thumbs.db

# Folder config file
Desktop.ini

# Mac crap
.DS_Store
