<div class="modal hide fade multi-device" id="multiDevice" ng-controller="MultiDeviceCtrl">

    <div class="modal-header">
        <a class="close" data-dismiss="modal">&times;</a>
        <h4>Multi device browser refresh</h4>
    </div>

    <div class="modal-body">
        <p>Please enter one of the following addresses from your device to open Prepros http server.</p>

        <h4>Network Address(es) to access Prepros server</h4>

        <ul class="ips" ng-if="addresses.length > 0">
            <li ng-repeat="address in addresses">
                <button popover="<img src='{{address.qr}}'>" class="btn" data-placement="right"><i class="icomoon-qrcode"></i></button>
                <code>http://{{address.ip}}:5656</code> &nbsp; &rarr; for devices inside <code>{{address.name}}</code> network.
            </li>
        </ul>

        <div class="alert alert-error" ng-if="addresses.length == 0">No networks detected</div>

        <p ng-if="addresses.length > 0">If addresses are not working check your firewall permissions.</p>
    </div>

    <div class="modal-footer">
        <a href="#" class="prepros-button" data-dismiss="modal">Close</a>
    </div>
</div>