<div class="modal hide fade project-options" id="optionsModal">

    <div class="modal-header">
        <a class="close" data-dismiss="modal">&times;</a>
        <h4>{{selectedProject.name}}  &mdash;Options</h4>
    </div>

    <div class="modal-body">

        <div bs-tabs>

            <div data-title="General">

                <label>
                    <span class="label-desc label-block">Project Name</span>
                    <input ng-model="selectedProject.name" type="text" class="span5">
                </label>

                <label>
                    <input type="checkbox" ng-model="selectedProject.config.liveRefresh" class="span5">
                    <span class="label-desc">Live Refresh</span>
                </label>

                <label>
                    <input type="checkbox" ng-model="selectedProject.config.useCustomServer" class="span5">
                    <span class="label-desc">Use Custom server</span>
                </label>

                <label ng-show="selectedProject.config.useCustomServer">
                    <span class="label-desc label-block">Server URL</span>
                    <input type="text" ng-model="selectedProject.config.customServerUrl" class="span5">
                </label>
            </div>

            <div data-title="Output Folders">

                <label>
                    <span class="label-desc label-block">CSS Folder</span>
                    <input type="text" ng-model="selectedProject.config.cssPath" class="span5">
                </label>

                <div class="label-desc label-block js-options">
                    <label for="config-js-folder" class="span3">Js Folder</label>
                    <label for="config-jsmin-folder" class="span2">Js MinFolder</label>
                </div>

                <input type="text" ng-model="selectedProject.config.jsPath" class="span3" id="config-js-folder">
                <input type="text" ng-model="selectedProject.config.jsMinPath" class="span2" id="config-jsmin-folder">

                <label>
                    <span class="label-desc label-block">HTML Folder</span>
                    <input type="text" ng-model="selectedProject.config.htmlPath" class="span5">
                </label>
            </div>

            <div data-title="More">

                <label>
                    <span class="label-desc label-block">Filter Patterns</span>
                    <span class="muted label-block">Please enter comma separated list</span>
                    <input type="text" ng-model="selectedProject.config.filterPatterns" class="span5" placeholder="Use global filters only.">
                </label>
                <label>
                    <span class="label-desc label-block">Autoprefixer Browsers</span>
                    <span class="muted label-block">Please enter comma separated list</span>
                    <input type="text" ng-model="selectedProject.config.autoprefixerBrowsers" class="span5" placeholder="Default Browsers">
                </label>
            </div>
        </div>
    </div>

    <div class="modal-footer">
        <a href="#" class="prepros-button" data-dismiss="modal">Close</a>
    </div>
</div>