<div class="modal hide fade project-options" id="optionsModal">

    <div class="modal-header">
        <a class="close" data-dismiss="modal">&times;</a>
        <h3>{{selectedProject.name}}  &mdash;Options</h3>
    </div>

    <div class="modal-body">

        <div bs-tabs>

            <div data-title="General">

                <label>
                    <span class="label-desc label-block">Project Name</span>
                    <input ng-model="selectedProject.name" type="text" class="span4">
                </label>

                <label>
                    <input type="checkbox" ng-model="selectedProject.config.liveRefresh" class="span4">
                    <span class="label-desc">Live Refresh</span>
                </label>

                <label>
                    <input type="checkbox" ng-model="selectedProject.config.useCustomServer" class="span4">
                    <span class="label-desc">Use Custom server</span>
                </label>

                <label ng-show="selectedProject.config.useCustomServer">
                    <span class="label-desc label-block">Server URL</span>
                    <input type="text" ng-model="selectedProject.config.customServerUrl" class="span4">
                </label>
            </div>

            <div data-title="Directories">

                <label>
                    <span class="label-desc label-block">CSS Folder</span>
                    <input type="text" ng-model="selectedProject.config.cssPath" class="span4">
                </label>

                <label>
                    <span class="label-desc label-block">Javascripts Folder</span>
                    <input type="text" ng-model="selectedProject.config.jsPath" class="span4">
                </label>

                <label>
                    <span class="label-desc label-block">Minified Javascripts Folder</span>
                    <input type="text" ng-model="selectedProject.config.jsMinPath" class="span4">
                </label>

                <label>
                    <span class="label-desc label-block">HTML Folder</span>
                    <input type="text" ng-model="selectedProject.config.htmlPath" class="span4">
                </label>
            </div>

            <div data-title="More">

                <label>
                    <span class="label-desc label-block">Filter Patterns</span>
                    <span class="muted label-block">Please enter comma separated list</span>
                    <input type="text" ng-model="selectedProject.config.filterPatterns" class="span4">
                </label>

            </div>
        </div>
    </div>

    <div class="modal-footer">
        <a href="#" class="btn btn-primary" data-dismiss="modal">Close</a>
    </div>
</div>