<div class="sidebar" ng-controller="SidebarCtrl">
    <ul ui-sortable ng-model="projects">
        <li ng-repeat="project in projects" ng-dblclick="openProjectFolder(project.path)" ng-animate="'animate'" project-context-menu="project" ng-class="{'project-being-watched': project.config.watch !== false}">
            <a ng-href="#/files/{{project.id}}" draggable="false"
               ng-class="{'active' : selectedProject.id == project.id}" draggable="false">{{project.name}}</a>
        </li>
    </ul>

    <div class="controls" ng-class="{'show' : selectedProject.id}">
        <div class="icomoon-spinner-2" tooltip="Refresh Files" ng-click="refreshFiles()"></div>
        <div class="icomoon-cog" tooltip="Project Options" show-modal-on-click="#optionsModal"></div>
        <a class="icomoon-images" tooltip="Optimize Images" ng-href="#optim/{{ selectedProject.id }}"></a>
        <div class="icomoon-globe" tooltip="Open project live url" ng-click="openLiveUrl()"></div>
        <div class="icomoon-remove" tooltip="Remove project" ng-click="removeProject()"></div>
        <div class="icomoon-arrow-up" tooltip="Buy Prepros Pro for One Click FTP Upload &amp; Deployment" ng-click="ftpDeploy()"></div>
    </div>

</div>