<!DOCTYPE html>
<html ng-app="prepros">
<head>
    <title>Prepros Log</title>
    <script src="../scripts/libraries/jquery.min.js"></script>
    <script src="../scripts/libraries/angular.js"></script>

    <link href="../assets/css/style.css" rel="stylesheet">
    <script>

        var prepros = angular.module('prepros', []);

        prepros.controller('LogCtrl', function($scope){

            $scope.preprosLog = global.preprosLog;

            //HACK for cross window communication
            global.logScope = $scope;

            $scope.clear = function(){

                $scope.preprosLog = [];

                global.preprosLog = [];

                $scope.preprosLog = global.preprosLog;

            }

        });

    </script>
</head>
<body style="overflow: auto">
<div ng-controller="LogCtrl" class="preprosLog">

    <div class="heading clearfix">
        <h4 class="pull-left">Prepros Log</h4><button class="btn pull-right" ng-click="clear()">Clear Log</button>
    </div>

    <ul class="unstyled">
        <li ng-repeat="log in preprosLog" class="{{log.type}}">
            <span class="name">
                {{log.name}}
            </span>
            <div class="details">
                <pre>{{log.details}}</pre>
            </div>
            <div class="time">{{log.date| date:'HH:mm:ss'}}</div>
        </li>
    </ul>
</div>

</body>
</html>