<!DOCTYPE html>
<html ng-app>
<head>
    <title>Notification</title>
    
    <script src="../scripts/lib/angular.js"></script>
    <script src="../scripts/lib/underscore.js"></script>
    <link href="../assets/css/style.css" rel="stylesheet">
    <script>
        function NotificationCtrl($scope){

            var nwWindow = require('nw.gui').Window.get();
            nwWindow.show();
            nwWindow.focus();
            nwWindow.setAlwaysOnTop(true);



            _.delay(function(){
                window.close();
            }, 5000);

            $scope.notification = global.preprosNotification;

            $scope.openLog = function(){
                global.logElement.trigger('click');
            };

            $scope.close= function(e){
                e.stopPropagation();
                window.close();
            };
        }
    </script>
</head>
<body>

<div ng-controller="NotificationCtrl" class="preprosNotification" ng-click="openLog()">
    <div class="notif-container {{notification.type}}">
        <span class="icomoon-close notif-close" ng-click="close($event)"></span>
        <div class="notif-icon">
            <i ng-class="{'icomoon-smiley' : notification.type == 'success', 'icomoon-sad' : notification.type == 'error'}"></i>
        </div>
        <div class="notif-info">
            <h3>{{notification.name}}</h3>
            <p>{{notification.message}}</p>
        </div>
    </div>
</div>
</body>
</html>