<!DOCTYPE html>
<html ng-app>
<head>
    <title>Notification</title>
    <script src="../scripts/libraries/jquery.min.js"></script>
    <script src="../scripts/libraries/underscore.min.js"></script>
    <script src="../scripts/libraries/angular.js"></script>
    <link href="../assets/css/style.css" rel="stylesheet">
    <script>
        function NotificationCtrl($scope){

            var nwWindow = require('nw.gui').Window.get();
            nwWindow.setAlwaysOnTop(true);

            _.delay(function(){
                window.close();
            }, 3000);

            $scope.notification = global.preprosNotification;

            $scope.openLog = function(){
                global.showLog();
            };

            $scope.close= function(e){
                e.stopPropagation();
                require('nw.gui').Window.get().close();
            };

            $(document).ready(function(){

                var nWin = require('nw.gui').Window.get();


                if(typeof nWin.showInactive === 'function') {

                    nWin.showInactive();

                } else {

                    nWin.show();

                }
            });
        }
    </script>
</head>
<body>

<div ng-controller="NotificationCtrl" class="preprosNotification" ng-click="openLog()">
    <div class="notif-container {{notification.type}}">
        <span class="icomoon-close notif-close" ng-click="close($event)"></span>
        <div class="notif-icon">
            <i ng-class="{'icomoon-smiley' : notification.type == 'success', 'icomoon-sad' : notification.type == 'error'}"></i>
        </div>
        <div class="notif-info">
            <h3>{{notification.name}}</h3>
            <p>{{notification.message}}</p>
        </div>
    </div>
</div>
</body>
</html>