
<!DOCTYPE html>
<html ng-app="prepros">
<head>
    <title>Prepros Options</title>

    <script src="../scripts/libraries/jquery.min.js"></script>
    <script src="../scripts/libraries/angular.js"></script>
    <script src="../scripts/libraries/bootstrap.min.js"></script>
    <link href="../assets/css/style.css" rel="stylesheet">
    <script>

        var prepros = angular.module('prepros', []);

        prepros.controller('OptionsCtrl', function ($scope) {

            var fs = require('fs-extra');

            //Cross window communication hack
            $scope.userConfig = global.userConfig;

            //Clear Prepros Cache
            $scope.clearCache = function (e) {

                $(e.currentTarget).attr('disabled');

                var html = $(e.currentTarget).html();

                fs.remove(global.preprosConfig.cachePath, function (err) {

                    if (!err) {

                        $(e.currentTarget).html('Cleared');

                        setTimeout(function () {

                            $(e.currentTarget).removeAttr('disabled');

                            $(e.currentTarget).html(html);

                        }, 1000)

                    } else {

                        alert('Failed ! because of ' + err.message);

                    }

                });

            };

            $scope.validRuby = function() {

                return !(process.platform == 'win32' && $scope.userConfig.customRuby.path == '');
            };

            $scope.process = global.process;

            //Just Close the window, The controller will catch data and save it on close event
            $scope.done = function () {
                require('nw.gui').Window.get().close();
            }
        });
    </script>

    <!--Bootstrap Tabs -->
    <script src="../scripts/directives/tabs.js"></script>

</head>
<body ng-controller="OptionsCtrl" style="padding-top: 20px;">

<div class="tabs-left clearfix" bs-tabs>
<div data-title="General">
    <label>
        <span class="label-desc label-block">HTML File Extension</span>
        <input type="text" ng-model="userConfig.htmlExtension">
    </label>
    <label>
        <input type="checkbox" ng-model="userConfig.enableErrorNotifications">
        <span class="label-desc">Enable Error Notifications</span>
    </label>
    <label>
        <input type="checkbox" ng-model="userConfig.enableSuccessNotifications">
        <span class="label-desc">Enable Success Notifications</span>
    </label>
    <label>
        <span class="label-desc label-block">Exclude files that contain following patterns</span>
        <span class="muted label-block">Please enter comma separated list</span>
        <input type="text" ng-model="userConfig.filterPatterns">
    </label>
    <label label-block>
        <button class="btn" ng-click="clearCache($event)">Clear Prepros Cache</button>
    </label>
</div>

<div data-title="Folders">

    <label>
        <span class="label-desc label-block">CSS Folder</span>
        <input type="text" ng-model="userConfig.cssPath">
    </label>
    <label>
        <span class="label-desc label-block">JavaScripts Folder</span>
        <input type="text" ng-model="userConfig.jsPath">
    </label>
    <label>
        <span class="label-desc label-block">Minified Javascripts Folder</span>
        <input type="text" ng-model="userConfig.jsMinPath">
    </label>
    <label>
        <span class="label-desc label-block">Html Folder</span>
        <input type="text" ng-model="userConfig.htmlPath">
    </label>

</div>

<div data-title="Less">

    <label>
        <input type="checkbox" ng-model="userConfig.less.autoCompile">
        <span class="label-desc">Auto Compile</span>
    </label>
    <label>
        <input type="checkbox" ng-model="userConfig.less.lineNumbers">
        <span class="label-desc">Line numbers</span>
    </label>
    <label>
        <input type="checkbox" ng-model="userConfig.less.strictMath">
        <span class="label-desc">Strict Maths</span>
    </label>
    <label>
        <input type="checkbox" ng-model="userConfig.less.strictUnits">
        <span class="label-desc">Strict Units</span>
    </label>
    <label>
        <input type="checkbox" ng-model="userConfig.less.compress">
        <span class="label-desc">Compress CSS</span>
    </label>

</div>

<div data-title="Sass">
    <label>
        <input type="checkbox" ng-model="userConfig.sass.autoCompile">
        <span class="label-desc">Auto Compile</span>
    </label>
    <label>
        <input type="checkbox" ng-model="userConfig.sass.unixNewlines">
        <span class="label-desc">Unix Newlines</span>
    </label>
    <label>
        <input type="checkbox" ng-model="userConfig.sass.debug">
        <span class="label-desc">Debug Info</span>
    </label>
    <label>
        <input type="checkbox" ng-model="userConfig.sass.compass">
        <span class="label-desc">Use Compass</span>
    </label>
    <label>
        <input type="checkbox" ng-model="userConfig.sass.fullCompass">
        <span class="label-desc">Full Compass Support</span>
    </label>
    <label>
        <span class="label-desc label-block">Output Style</span>
        <select ng-model="userConfig.sass.outputStyle">
            <option value="compressed">Compressed</option>
            <option value="compact">Compact</option>
            <option value="nested">Nested</option>
            <option value="expanded">Expanded</option>
        </select>
    </label>
</div>

<div data-title="Stylus">
    <label>
        <input type="checkbox" ng-model="userConfig.stylus.autoCompile">
        <span class="label-desc">Auto Compile</span>
    </label>
    <label>
        <input type="checkbox" ng-model="userConfig.stylus.lineNumbers">
        <span class="label-desc">Line numbers</span>
    </label>
    <label>
        <input type="checkbox" ng-model="userConfig.stylus.compress">
        <span class="label-desc">Compress CSS</span>
    </label>
    <label>
        <input type="checkbox" ng-model="userConfig.stylus.config.nib">
        <span class="label-desc">Use Nib</span>
    </label>
</div>

<div data-title="Jade">

    <label>
        <input type="checkbox" ng-model="userConfig.stylus.autoCompile">
        <span class="label-desc">Auto Compile</span>
    </label>
    <label>
        <input type="checkbox" ng-model="userConfig.stylus.lineNumbers">
        <span class="label-desc">Line numbers</span>
    </label>
    <label>
        <input type="checkbox" ng-model="userConfig.stylus.compress">
        <span class="label-desc">Compress CSS</span>
    </label>
    <label>
        <input type="checkbox" ng-model="userConfig.stylus.config.nib">
        <span class="label-desc">Use Nib</span>
    </label>

</div>

<div data-title="Haml">

    <label>
        <input type="checkbox" ng-model="userConfig.haml.autoCompile">
        <span class="label-desc">Auto Compile</span>
    </label>
    <label>
        <input type="checkbox" ng-model="userConfig.haml.doubleQuotes">
        <span class="label-desc">Double quotes</span>
    </label>

    <label>
        <span class="label-desc label-block">Output Format</span>
        <select ng-model="userConfig.haml.format">
            <option value="xhtml">XHTML</option>
            <option value="html5">HTML5</option>
        </select>
    </label>
    <label>
        <span class="label-desc label-block">Output Style</span>
        <select ng-model="userConfig.haml.outputStyle">
            <option value="indented">Indented</option>
            <option value="ugly">Ugly</option>
        </select>
    </label>
</div>

<div data-title="Slim">
    <label>
        <input type="checkbox" ng-model="userConfig.slim.autoCompile">
        <span class="label-desc">Auto Compile</span>
    </label>
    <label>
        <input type="checkbox" ng-model="userConfig.slim.pretty">
        <span class="label-desc">Pretty Output</span>
    </label>
    <label>
        <span class="label-desc label-block">Indent</span>
        <select ng-model="userConfig.slim.indent">
            <option value="default">Default ( 2 spaces )</option>
            <option value="four">Four Spaces</option>
            <option value="tab">Tab</option>
        </select>
    </label>
    <label>
        <span class="label-desc label-block">Output Format</span>
        <select ng-model="userConfig.slim.format">
            <option value=":xhtml">XHTML</option>
            <option value=":html5">HTML5</option>
            <option value=":html">HTML</option>
            <option value=":html4">HTML4</option>
        </select>
    </label>
</div>

<div data-title="Coffee">
    <label>
        <input type="checkbox" ng-model="userConfig.coffee.autoCompile">
        <span class="label-desc">Auto Compile</span>
    </label>
    <label>
        <input type="checkbox" ng-model="userConfig.coffee.bare">
        <span class="label-desc">Bare</span>
    </label>
    <label>
        <input type="checkbox" ng-model="userConfig.coffee.uglify">
        <span class="label-desc">Uglify</span>
    </label>
</div>

<div data-title="Javascript">
    <label>
        <input type="checkbox" ng-model="userConfig.javascript.autoCompile">
        <span class="label-desc">Auto Compile</span>
    </label>
    <label>
        <input type="checkbox" ng-model="userConfig.javascript.uglify">
        <span class="label-desc">Uglify</span>
    </label>
</div>

<div data-title="Markdown">
    <label>
        <input type="checkbox" ng-model="userConfig.markdown.autoCompile">
        <span class="label-desc">Auto Compile</span>
    </label>
    <label>
        <input type="checkbox" ng-model="userConfig.markdown.gfm">
        <span class="label-desc">Github Flavoured</span>
    </label>

    <label>
        <input type="checkbox" ng-model="userConfig.markdown.sanitize">
        <span class="label-desc">Sanitize Output</span>
    </label>
</div>

<div data-title="Advanced">

    <label>
        <input type="checkbox" ng-model="userConfig.customRuby.use">
        <span class="label-desc">Use Custom Ruby</span>
    </label>

    <div ng-if="userConfig.customRuby.use">
        <label ng-if="process.platform == 'win32'">
            <span class="label-desc label-block">Path to custom ruby executable file</span>
            <input type="text" ng-model="userConfig.customRuby.path">
        </label>
        <div ng-if="validRuby()">
            <label>
                <input type="checkbox" ng-model="userConfig.customRuby.sass">
                <span class="label-desc">For Sass</span>
            </label>
            <label>
                <input type="checkbox" ng-model="userConfig.customRuby.slim">
                <span class="label-desc">For Slim</span>
            </label>
            <label>
                <input type="checkbox" ng-model="userConfig.customRuby.haml">
                <span class="label-desc">For HAML</span>
            </label>
        </div>


    </div>

    <div class="alert alert-danger" style="width: 350px;">
        <i class="icomoon-info"></i> These settings might hurt, Use with caution !
    </div>


</div>
</div>

<!-- Done -->
<button ng-click="done()" class="pull-right prepros-button" style="margin: 10px;">Done</button>

</body>
</html>
