<!--

/**
 * Prepros
 * (c) Subash Pathak
 * sbshpthk@gmail.com
 * License: MIT
 */

 -->

<!doctype html>
<html ng-app="prepros">
<head>
    <meta charset="utf-8">
    <title>Prepros App</title>

    <script>

        //Devtools for developers
        window.addEventListener('keydown', function (e) {
            if (e.keyIdentifier === 'F12') {
                require('nw.gui').Window.get().showDevTools();
            }
        });

    </script>

    <!--Load App styles -->
    <link href="assets/css/style.css" rel="stylesheet">

    <!--Load libraries -->
    <script src="scripts/lib/jquery.js"></script>
    <script src="scripts/lib/angular.js"></script>
    <script src="scripts/lib/underscore.js"></script>
    <script src="scripts/lib/bootstrap.js"></script>
    <script src="scripts/lib/mousetrap.js"></script>

    <!--Load custom script -->
    <script src="scripts/frame.js"></script>

    <!-- AngularJs App -->
    <script src="scripts/app.js"></script>

    <!--Services -->
    <script src="scripts/services/watcher.js"></script>
    <script src="scripts/services/compiler.js"></script>
    <script src="scripts/services/config.js"></script>
    <script src="scripts/services/liveServer.js"></script>
    <script src="scripts/services/notification.js"></script>
    <script src="scripts/services/projectsManager.js"></script>
    <script src="scripts/services/importsVisitor.js"></script>
    <script src="scripts/services/storage.js"></script>
    <script src="scripts/services/utils.js"></script>

    <!-- File Types -->
    <script src="scripts/services/fileTypes.js"></script>
    <script src="scripts/services/fileTypes/less.js"></script>
    <script src="scripts/services/fileTypes/sass.js"></script>
    <script src="scripts/services/fileTypes/stylus.js"></script>
    <script src="scripts/services/fileTypes/markdown.js"></script>
    <script src="scripts/services/fileTypes/coffee.js"></script>
    <script src="scripts/services/fileTypes/jade.js"></script>
    <script src="scripts/services/fileTypes/haml.js"></script>
    <script src="scripts/services/fileTypes/slim.js"></script>

    <!-- Filters -->
    <script src="scripts/filters/project.js"></script>
    <script src="scripts/filters/shorten.js"></script>

    <!-- Controllers -->
    <script src="scripts/controllers/MainCtrl.js"></script>
    <script src="scripts/controllers/TitlebarCtrl.js"></script>
    <script src="scripts/controllers/SidebarCtrl.js"></script>
    <script src="scripts/controllers/FilesCtrl.js"></script>

    <!-- Directives -->
    <script src="scripts/directives/tooltip.js"></script>
    <script src="scripts/directives/keyboard-shortcuts.js"></script>
    <script src="scripts/directives/drag-drop-project.js"></script>
    <script src="scripts/directives/log-element.js"></script>
    <script src="scripts/directives/ng-include-if.js"></script>

</head>
<body>
<div class="wrapper clearfix" ng-controller="MainCtrl" x-drag-drop-project x-bind-keyboard-shortcuts>

<!-- Sidebar -->
<div class="sidebar" ng-controller="SidebarCtrl">
    <ul>
        <li ng-repeat="project in projects" ng-dblclick="openProjectFolder(project.path)">
            <a ng-href="#/files/{{project.id}}" draggable="false"
               ng-class="{'active' : selectedProject.id == project.id}">{{project.name}}</a>
        </li>
    </ul>

    <div class="controls" ng-class="{'show' : selectedProject.id}">
        <div class="new-project icomoon-plus icons" x-tooltip="Add new project" ng-click="addProject()"></div>
        <div class="refresh icomoon-spinner-2 icons" x-tooltip="Refresh Files" ng-click="refreshFiles()"></div>
        <div class="options icomoon-cog icons" x-tooltip="Project Options" ng-click="showOptions()"></div>
        <div class="open icomoon-globe icons" x-tooltip="Open project live url" ng-click="openLiveUrl()"></div>
        <div class="remove icomoon-remove icons" x-tooltip="Remove project" ng-click="removeProject()"></div>
    </div>

</div>
<!-- Sidebar ends -->


<div class="main">

<!-- App title bar -->
<div class="title-bar" ng-controller="TitlebarCtrl">
    <div class="controls">
        <a ng-click="goWebsite()" class="icomoon-gift highlight" x-tooltip="A New Version Of Prepros is Available" data-placement="bottom" ng-show="appUpdate"></a>
        <a ng-href="#/home" class="icomoon-home" x-tooltip="Go to home" data-placement="bottom" tabindex="-1"></a>
        <a class="love icomoon-heart-2" x-tooltip="Help the author" data-placement="bottom" ng-click="supportAuthor()"></a>
        <a class="about icomoon-info " x-tooltip="About Prepros" data-placement="bottom" ng-click="openAboutWindow()"></a>
        <a class="log icomoon-copy-2" x-tooltip="App Log" data-placement="bottom" ng-click="openLogWindow()" x-log-element></a>
        <a class="options icomoon-cog " x-tooltip="App Options" data-placement="bottom" ng-click="openOptionsWindow()"></a>
        <a class="to-tray icomoon-arrow-down-right-3" x-tooltip="Minimize to Tray" data-placement="bottom" ng-click="toTray()"></a>
        <a class="minimize-app icomoon-minus" x-tooltip="Minimize" data-placement="bottom" ng-click="minimize()"></a>
        <a class="close-app icomoon-close" x-tooltip="Close" data-placement="left" ng-click="close()"></a>
    </div>
</div>

<div class="project-options" ng-show="selectedProject.id">
    <label>
        <span class="label-desc">Project Name</span>
        <input ng-model="selectedProject.name" type="text">
    </label>
    <label>
        <span class="label-desc">Filter Patterns</span>
        <input type="text" ng-model="selectedProject.config.filterPatterns">
    </label>
    <label>
        <input type="checkbox" ng-model="selectedProject.config.liveRefresh">
        <span class="label-desc">Live Refresh</span>
    </label>
    <label>
        <input type="checkbox" ng-model="selectedProject.config.useCustomServer">
        <span class="label-desc">Use Custom server</span>
    </label>

    <div ng-show="selectedProject.config.useCustomServer">
        <label>
            <span class="label-desc">Server URL</span>
            <input type="text" ng-model="selectedProject.config.customServerUrl">
        </label>
    </div>
    <button>Done</button>
</div>


<!--File list and project view -->
<div class="content clearfix" ng-controller="FilesCtrl">
    <div class="content-wrap clearfix" ng-class="{'show-options' : selectedFile.id}">
        <div ng-switch on="routePath">
            <div ng-switch-when="home" class="home">


                <h1 class="icomoon-arrow-down-2"></h1>

                <p>Please drag and drop a folder to start a new project.</p>

            </div>


            <div ng-switch-when="files">

                <!-- Files list -->
                <ul class="files" ng-show="(files|project).length > 0">
                    <li class="file" ng-repeat="file in files|project|orderBy:'name'">
                        <a ng-href="#/files/{{file.pid}}/{{file.id}}" ng-class="{'active' : selectedFile.id == file.id}"
                           draggable="false" id="/files/{{file.pid}}/{{file.id}}" ng-dblclick="openFile(file.input)">
                            <div class="thumb  {{file.type.toLowerCase()}}"
                                 ng-class="{'no-compile': !file.config.autoCompile}">{{file.type}}
                            </div>
                            <div class="details clearfix">
                                <div class="name"><span x-tooltip="{{file.input}}">{{file.name}}</span></div>
                                <div class="input"><span>{{file.shortInput | shorten}}</span></div>
                                <div>
                                    <span class="output" x-tooltip="Click to change file output path"
                                          ng-click="changeFileOutput($event, file.id)">&rarr; {{file.shortOutput | shorten}}
                                    </span>
                                </div>
                            </div>
                        </a>
                    </li>
                </ul>

                <!-- There are no files -->
                <div class="no-files"  ng-show="(files|project).length == 0">

                    <h1 class="icomoon-sad"></h1>

                    <p>There is nothing that Prepros can compile. Hit F5 after adding new files.</p>

                </div>


                <!-- Options -->
                <div class="options">

                    <span class="file-type">{{selectedFile.type}}</span>

                    <span class="file-name">{{selectedFile.name}}</span>


                    <label>
                        <input type="checkbox" ng-model="selectedFile.config.autoCompile">
                        <span class="label-desc">Auto Compile</span>
                    </label>

                    <!-- Load options template -->
                    <div ng-include-if="selectedFile.type" src="'templates/' + selectedFile.type + '.html'"></div>

                    <button class="compile" ng-click="compile()">Compile</button>

                </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>

</body>
</html>
