<label>
    <input type="checkbox" ng-model="selectedFile.config.lineNumbers">
    <span class="label-desc">Line numbers</span>
</label>

<label ng-hide="selectedFile.config.compass && selectedFile.config.fullCompass">
    <input type="checkbox" ng-model="selectedFile.config.unixNewlines">
    <span class="label-desc">Unix Newlines</span>
</label>

<label>
    <input type="checkbox" ng-model="selectedFile.config.debug">
    <span class="label-desc">Debug Info</span>
</label>

<label>
    <input type="checkbox" ng-model="selectedFile.config.compass">
    <span class="label-desc">Use Compass</span>
</label>

<label ng-show="selectedFile.config.compass">
    <input type="checkbox" ng-model="selectedFile.config.fullCompass">
    <span class="label-desc">Full Compass Support</span>
</label>

<label>
    <input type="checkbox" ng-model="selectedFile.config.autoprefixer">
    <span class="label-desc">Auto Prefix CSS</span>
</label>

<label>
    <span class="label-desc label-block">Output Style</span>
    <select ng-model="selectedFile.config.outputStyle">
        <option value="compressed">Compressed</option>
        <option value="compact">Compact</option>
        <option value="nested">Nested</option>
        <option value="expanded">Expanded</option>
    </select>
</label>