<label>
    <input type="checkbox" ng-model="selectedFile.config.compass">
    <span class="label-desc">Use Compass</span>
</label>

<label ng-show="selectedFile.config.compass">
    <input type="checkbox" ng-model="selectedFile.config.fullCompass">
    <span class="label-desc">Full Compass Support</span>
</label>

<label ng-hide="selectedFile.config.compass && selectedFile.config.fullCompass">
    <input type="checkbox" ng-model="selectedFile.config.lineNumbers">
    <span class="label-desc">Line numbers</span>
</label>

<label ng-hide="selectedFile.config.compass && selectedFile.config.fullCompass">
    <input type="checkbox" ng-model="selectedFile.config.unixNewlines">
    <span class="label-desc">Unix Newlines</span>
</label>

<label ng-hide="selectedFile.config.compass && selectedFile.config.fullCompass">
	<input type="checkbox" ng-model="selectedFile.config.debug">
	<span class="label-desc">Debug Info</span>
</label>

<label ng-hide=" (selectedFile.config.compass && selectedFile.config.fullCompass)">
    <input type="checkbox" ng-model="selectedFile.config.sourcemaps">
    <span class="label-desc">SourceMaps</span>
</label>

<label ng-hide="selectedFile.config.compass && selectedFile.config.fullCompass">

    <input type="checkbox" ng-model="selectedFile.config.autoprefixer" ng-hide="selectedFile.config.sourcemaps">
    <span class="label-desc" ng-hide="selectedFile.config.sourcemaps">Auto Prefix CSS</span>

    <input type="checkbox" disabled ng-show="selectedFile.config.sourcemaps">
    <span class="label-desc" tooltip="Autoprefixer is not compatible with sourcemaps."  ng-show="selectedFile.config.sourcemaps">Auto Prefix CSS</span>


</label>

<label ng-hide="selectedFile.config.compass && selectedFile.config.fullCompass">
    <span class="label-desc label-block">Output Style</span>
    <select ng-model="selectedFile.config.outputStyle">
        <option value="compressed">Compressed</option>
        <option value="compact">Compact</option>
        <option value="nested">Nested</option>
        <option value="expanded">Expanded</option>
    </select>
</label>