<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>Prepros App</title>

    <script>

        //Devtools for developers
        window.addEventListener('keydown', function (e) {
            if (e.keyIdentifier === 'F12') {
                require('nw.gui').Window.get().showDevTools();
            }
        });

        (function() {

            var fs = require('fs');
            var path = require('path');

            var cssPath = path.join(process.cwd(), 'app/assets/css/style.css');

            fs.watchFile(cssPath, {interval: 500}, function() {

                document.querySelector('#preprosStylesheet').href="assets/css/style.css?" + Math.random();
            })

        })()

    </script>

    <style>
        [ng-cloak] {
            display: none;
            opacity: 0;
        }
    </style>

    <!--Load App styles -->
    <link href="assets/css/style.css" rel="stylesheet" id="preprosStylesheet">

    <!-- Scripts loader -->
    <script src="vendor/LAB.min.js"></script>

    <!--Load custom script -->
    <script src="scripts/frame.js"></script>
    <script src="scripts/load.js"></script>

</head>

<body class="clearfix" ng-controller="MainCtrl" drop-project keyboard-shortcuts copy-selected-text>

<div class="wrapper" ng-cloak>

    <!-- Sidebar -->
    <div ng-include src="'templates/sidebar.html'"></div>

    <div class="main">

        <!-- App title bar -->
        <div ng-include src="'templates/title-bar.html'"></div>

        <!--File list and project view -->
        <div class="content-wrap clearfix" ng-controller="FilesCtrl"  ng-class="{'show-options' : selectedFile.id}">

            <div class="content clearfix show-options">

                <div ng-if="currentRoutePath == 'home'" class="home">

                    <h1 class="icomoon-arrow-down-2"></h1>

                    <p>Please drag and drop a folder to start a new project.</p>

                </div>

                <div ng-controller="OptimImageCtrl">

                    <div ng-if="currentRoutePath == 'optim'">

                            <div ng-include src="'templates/optim-image.html'" ng-if="projectImages.length != 0"></div>

                            <!-- There are no files -->
                            <div class="no-files" ng-if="projectImages.length == 0">

                                <h1 class="icomoon-images"></h1>

                                <p>No images found.</p>

                            </div>

                    </div>

                </div>

                <div ng-if="currentRoutePath == 'files'">

                    <!-- Files list -->
                    <div ng-include src="'templates/files-list.html'" ng-if="selectedProject.files.length != 0"></div>

                    <!-- There are no files -->
                    <div class="no-files" ng-if="selectedProject.files.length == 0">

                        <h1 class="icomoon-sad"></h1>

                        <p>There is nothing that Prepros can compile. Hit F5 after adding new files.</p>

                    </div>

                    <!-- Options -->
                    <div class="options" ng-if="selectedFile.id" ng-animate="'slide'">

                        <span class="file-type">{{selectedFile.type}}</span>

                        <span class="file-name">{{selectedFile.name}}</span>

                        <label>
                            <input type="checkbox" ng-model="selectedFile.config.autoCompile">
                            <span class="label-desc">Auto Compile</span>
                        </label>

                        <!-- Load options template -->
                        <div ng-include src="'templates/fileTypes/' + selectedFile.type + '.html'"></div>

                        <button class="compile prepros-button" ng-click="compile()">Compile</button>

                    </div>
                </div>

                <div ng-controller="LogCtrl">

                    <div ng-include src="'templates/log.html'" ng-if="currentRoutePath == 'log'" ></div>

                </div>
            </div>

        </div>

    </div>
</div>


<!-- Include Modal Windows -->
<div ng-include src="'templates/project-options.html'"></div>
<div ng-include src="'templates/about.html'"></div>
<div ng-include src="'templates/multi-device.html'"></div>
<div ng-include src="'templates/optim-image.html'"></div>


</body>
</html>