<!DOCTYPE html>
<html ng-app>
<head>
    <title>Notification</title>
    <script src="vendor/angular.js"></script>
    <script src="vendor/jquery.min.js"></script>
    <link href="assets/css/notification.css" rel="stylesheet">

    <script>
        function NotificationCtrl($scope){

            var nwin = require('nw.gui').Window.get();

            $scope.notification = {};

            var timer = setTimeout(function(){}, 10000);

            nwin.on('updateNotification', function(data){

                $scope.$apply(function(){

                    $scope.notification = data;

                    window.clearTimeout(timer);

                    timer =  setTimeout(function(){

                        if(process.platform === "win32") {

                            //Just hide window without closing
                            nwin.y = window.screen.availHeight + 1000;

                        } else {

                            nwin.hide();
                        }

                    }, parseInt(data.time, 10));
                });

                setTimeout(function() {

                    var elem = $('body');

                    var height =  elem.height();

                    nwin.height = height;

                    if(process.platform === 'win32') {

                        nwin.y = (window.screen.availHeight - 10) - height;

                    } else {

                        nwin.show();
                        nwin.blur();
                    }

                }, 75);
            });

            $(document).ready(function() {

                nwin.setAlwaysOnTop(true);

                if(typeof nwin.showInactive === 'function') {

                    nwin.showInactive();

                } else {

                    nwin.show();
                    nwin.blur();
                }

                //Hide window on right click
                $(window).on('contextmenu', function() {

                    if(process.platform === 'win32') {

                        nwin.y = window.screen.availHeight + 1000;

                    } else {

                        nwin.hide();
                    }
                });

            });
            
            $scope.openLog = function(){
                require('nw.gui').Window.get().emit('showLog');
            };

            $scope.close= function(e){

                e.stopPropagation();

                if(process.platform === 'win32') {

                    nwin.y = window.screen.availHeight + 1000;

                } else {

                    nwin.hide();
                }
            };
        }
    </script>
</head>
<body class="notif-window">

<div ng-controller="NotificationCtrl" class="preprosNotification" ng-click="openLog()">
    <div class="notif-container {{notification.type}}">
        <span class="icomoon-close notif-close" ng-click="close($event)"></span>
        <div class="notif-header">
            <div class="notif-icon">
                <i ng-class="{'icomoon-smiley' : notification.type == 'success', 'icomoon-sad' : notification.type == 'error'}"></i>
            </div>
            <div class="notif-info">
                <h3>{{notification.name}}</h3>
                <p>{{notification.message}}</p>
            </div>
        </div>
        <pre ng-if="notification.type == 'error' && notification.details ">{{notification.details}}</pre>
    </div>
</div>
</body>
</html>