* {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

*:focus {
  outline: none !important;
}

body {
  -webkit-user-select: none;
  background: #fff;
  color: #666;
  font-family: SourceSansPro;
  cursor: default;
}

h1, h2, h3, h4 {
  font-weight: normal;
}