input:focus, select:focus, select:active {
  box-shadow: none !important;
}

input[type='text'], input[type='password'] {
  border: 1px solid #BBB;
  border-radius: 0;
  padding: 3px 8px;
  box-sizing: content-box;
  &:focus {
    border: 1px solid #BBB;
  }
}

input[type=checkbox] {
  -webkit-appearance: none;
  width: 17px;
  height: 17px;
  line-height: 1.7em;
  border: 1px solid #BBB;
  padding: 0;
  margin: 0 5px;
  position: relative;
}

input[type=checkbox]:checked:after {
  font-family: Icomoon;
  content: '\e0f0';
  line-height: 1em;
  font-size: 11px;
  color: #BBB;
  position: absolute;
  top: 2px;
  left: 2px;
}

label {
  margin: 10px 0px;
}

.label-desc {
  line-height: 1.7em;
}

.label-block {
  display: block;
  clear: both;
}

.prepros-button {
  display: inline-block;
  color: #666;
  background: #BBB;
  padding: 8px 11px;
  border: none;
  &:hover {
    background: #CCC;
    color: inherit;
    text-decoration: none;
  }

  &:active {
    background: #53777A;
    color: #efefef;
  }
}

select {
  border: 1px solid #BBB;
  border-radius: 0;
}

.tooltip .tooltip-inner {
  max-width: 900px;
  white-space: nowrap;
}

.modal {
  border: 1px solid #AAA;
  box-shadow: none;
  border-radius: 0;
}

.nav-tabs, .tabs-left, .tabs-right {
  > li > a {
    border-radius: 0 !important;
  }
}

.nav-tabs a {
  color: inherit;
  &:hover {
    color: inherit;
  }
}

.modal-backdrop,
.modal-backdrop.fade.in {
  opacity: 0.5;
  background: rgba(#000, 0.35);
}

.modal .modal-header {
  text-transform: capitalize;
}

.modal .modal-body {
  min-height: 220px;
}

.tooltip {
  z-index: 99999;
}