input[type=checkbox] {
  -webkit-appearance: none;
  width: 18px;
  height: 18px;
  line-height: 1.7em;
  border: 2px solid #AAA;
  padding: 0;
  margin: 0 5px;
  position: relative;
}

input[type='text'] {
  border: 2px solid #AAA;
  border-radius: 0;
  padding: 3px 8px;
  box-sizing: content-box;
  &:focus {
    border: 2px solid #AAA;
  }
}

input[type=checkbox]:checked:after {
  font-family: Icomoon;
  content: '\e0f0';
  line-height: 1em;
  font-size: 10px;
  color: #aaa;
  position: absolute;
  top: 2px;
  left: 2px;
}

label {
  margin: 10px 0px;
}

.label-desc {
  line-height: 1.7em;
}

.label-block {
  display: block;
  clear: both;
}

.prepros-button {
  display: inline-block;
  color: #666;
  background: #AAA;
  padding: 8px 12px;
  border: none;
  &:hover {
    background: #CCC;
    color: inherit;
    text-decoration: none;
  }

  &:active {
    background: #8A9B0F;
  }
}

select {
  border: 2px solid #AAA;
  border-radius: 0;
}

.tooltip .tooltip-inner {
  max-width: 900px;
  white-space: nowrap;
}

.modal {
  border: 2px solid #BCBCBC;
  box-shadow: none;
  border-radius: 0;
}

.nav-tabs, .tabs-left, .tabs-right {
  > li > a {
    border-radius: 0 !important;
  }
}

.tabs-left li.active a {
  border-width: 0;
  border-left: 3px solid #888;
  &:hover {
    border-width: 0;
    border-left: 3px solid #888;
  }
}

.modal-backdrop,
.modal-backdrop.fade.in {
  opacity: 0.5;
  background: rgba(255, 255, 255, 0.35);
}