$scss: #c02ec9;
$sass: #774F38;
$less: #E97F02;
$stylus: #F8CA00;
$jade: #8A9B0F;
$coffee: #036564;
$js: #ECD078;
$haml: #556270;
$md: #7A6A53;
$slim: #00A0B0;
$livescript: #99173C;

$duration : .5s;


.content-wrap {
  position: relative;
  float: left;
  margin-top: 10px;
  margin-left: 10px;
  width: 680px;
  .files {
    display: block;
    float: left;
    overflow-x: hidden;
    overflow-y: auto;
    margin: 0;
    padding: 0;
    width: 670px;
    width: 670px;
    max-height: 490px;
    -webkit-transition: width $duration;
  }
  .home, .no-files, .no-logs {
    h1 {
      text-align: center;
      font-size: 100px;
      margin-top: 130px;
    }
    p {
      margin-top: 25px;
      text-align: center;
      font-size: 16px;
    }
  }

  &.show-options .files {
    width: 450px;
    -webkit-transition: width $duration;
  }

  .file {
    display: block;
    margin-bottom: 10px;
    &:last-child {
      margin-bottom: 0;
    }
    a {
      display: block;
      padding: 10px;
      height: 90px;
      border: 1px solid #dbd7d7;
      background: #fff;
      list-style: none;
      cursor: default;
      overflow: hidden;
      &:hover {
        border: 1px solid #f1dbd2;
      }
      &.active {
        border: 1px solid rgba(250, 86, 33, 0.17);
        background: #faeee9;
      }
      .output:hover {
        text-decoration: underline;
        cursor: pointer;
      }
    }
    .thumb {
      position: relative;
      float: left;
      margin-top: 1px;
      width: 65px;
      height: 65px;
      background: #3e3e3e;
      color: #cfcfcf;
      text-align: center;
      line-height: 65px;
      &:after {
        position: absolute;
        top: 28px;
        right: 0;
        width: 0;
        height: 0;
        border-top: 6px solid transparent;
        border-bottom: 6px solid transparent;
        content: '';
      }
      &.no-compile {
        -webkit-filter: opacity(.7) sepia(1);
      }
    }

    .scss {
      border-right: 5px solid $scss;
      &:after {
        border-right: 5px solid $scss;
      }
    }
    .sass {
      border-right: 5px solid $sass;
      &:after {
        border-right: 5px solid $sass;
      }
    }
    .less {
      border-right: 5px solid $less;
      &:after {
        border-right: 5px solid $less;
      }
    }
    .stylus {
      border-right: 5px solid $stylus;
      &:after {
        border-right: 5px solid $stylus;
      }
    }
    .jade {
      border-right: 5px solid $jade;
      &:after {
        border-right: 5px solid $jade;
      }
    }
    .coffee {
      border-right: 5px solid $coffee;
      &:after {
        border-right: 5px solid $coffee;
      }
    }
    .js {
      border-right: 5px solid $js;
      &:after {
        border-right: 5px solid $js;
      }
    }
    .haml {
      border-right: 5px solid $haml;
      &:after {
        border-right: 5px solid $haml;
      }
    }
    .md {
      border-right: 5px solid $md;
      &:after {
        border-right: 5px solid $md;
      }
    }
    .slim {
      border-right: 5px solid $slim;
      &:after {
        border-right: 5px solid $slim;
      }
    }
    .ls {
      border-right: 5px solid $livescript;
      &:after {
        border-right: 5px solid $livescript;
      }
    }

    .details {
      float: left;
      margin-left: 10px;
      max-width: 550px;
      -webkit-transition: max-width $duration;
      div {
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
      }
      .name {
        font-weight: 600;
        color: #888;
      }
      .input, .output {
        color: #AAA;
      }
    }
  }

  &.show-options .file a .details {
    max-width: 330px;
    -webkit-transition: max-width $duration;
  }

  .options {
    position: absolute;
    right: 0px;
    float: left;
    padding: 10px;
    width: 222px;
    height: 490px;
    border: 1px solid #dbd7d7;
    border-right: none;
    background: #fff;
    overflow: hidden;

    * {
      max-width: 201px;
    }

    .file-type {
      display: block;
      font-size: 24px;
      margin: 5px 0 5px 0;
      padding-bottom: 5px;
      text-align: center;
    }

    .file-name {
      display: block;
      margin-bottom: 15px;
      padding-bottom: 5px;
      border-bottom: 1px solid #dbd7d7;
      text-align: center;
    }

    .compile {
      position: absolute;
      bottom: 20px;
      left: 75px;
    }
  }

  .slide-leave, .slide-enter {
    -webkit-transition: all $duration;
  }

  .slide-enter {
    right: -222px;
    opacity: 0;
    top: 0px;
  }
  .slide-enter.slide-enter-active {
    right: 0px;
    top: 0px;
    opacity: 1;
  }

  .slide-leave {
    right: 0px;
    opacity: 1;
    top: 0px;
    -webkit-transform: scale(0,0);
    transform: scale(0,0);
  }
  .slide-leave.slide-leave-active {
    right: -222px;
    opacity: 0;
    top: 222px;
    -webkit-transform: scale(.5,.5);
    transform: scale(.5,.5);
  }
}