.home-screen__icon {
  font-size: 12vw;
  display: block;
  margin: auto;
  text-align: center;
  margin-top: 25vh;
  margin-bottom: 20px;
  transition: all 0.5s;
}
.home-screen__message {
  font-size: 2.2vw;
  font-weight: 200;
  text-align: center;
  transition: all 0.5s;
}
