@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}

.loading-overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  .container {
    width: 60px;
    height: 60px;
    padding: 15px;
    border-radius: 10px;
    background: rgba(0, 0, 0, .4);
    position: relative;
    top: 235px;
    div {
      color: #fff;
      width: 30px;
      height: 30px;
      font-size: 30px;
    }
    .loading-icon {
      -webkit-animation: spin .6s infinite linear;
    }
  }
}