.logs {
  margin-right: 10px;
  overflow-x: hidden;
  overflow-y: auto;
  max-height: 490px;
  .log {
    padding: 15px;
    margin-bottom: 10px;
    -webkit-user-select: text;

    .name {
      display: block;
      margin-bottom: 15px;
    }

    pre {
      color: #888;
    }

    &.error {
      background: rgba(red, .15);
      .name {
        color: rgba(red, .4);
      }
    }
    &.success {
      background: rgba(green, .15);
      .name {
        color: rgba(green, .4);
      }
    }
    &:last-child {
      margin: 0 5px 0 0;
      padding: 15px 15px ;
    }
  }

  .clear-log {
    margin: 10px 10px 0 0;
  }
}