.notif-window {
  overflow: hidden;
}

.preprosNotification {
  background: #FFF;
  width: 400px;
  height: 100px;
  overflow: hidden;

  .notif-container {
    border-top: 10px solid;
    position: relative;

    &.error {
      border-top-color: #c02942;
      .notif-icon {
        color: #c02942;
      }
      h3 {
        color: #c02942;
      }
    }
    &.success {
      border-top-color: #078e13;
      .notif-icon {
        color: #078e13;
      }
      h3 {
        color: #078e13;
      }
    }

    .notif-icon {
      font-size: 55px;
      height: 90px;
      line-height: 95px;
      padding-left: 15px;
      float: left;
      width: 80px;
      overflow: hidden;
    }

    .notif-close {
      display: inline-block;
      position: absolute;
      right: 10px;
      top: 10px;
      font-size: 14px;
      color: #999;
    }

    .notif-info {
      float: right;
      width: 315px;
      overflow: hidden;

      h3 {
        font-weight: normal;
        font-size: 24px;
        line-height: 27px;
      }
    }
  }
}