.optim-image {
  display: block;
  overflow-x: hidden;
  overflow-y: auto;
  margin: 0;
  padding: 0;
  width: 670px;
  width: 670px;
  max-height: 490px;
  .img {
    padding-left: 50px;
    background: #fff;
    border: 1px solid #dbd7d7;
    margin-bottom: 10px;
    position: relative;
    height: 52px;
    line-height: 52px;
    color: #888;
    button {
      right: 7px;
      top: 7px;
      position: absolute;
      width: 75px;
      height: 36px;
      i {
        display: none;
      }
      &.done {
        background: green;
        color: #fff;
      }
      &.failed {
        background: red;
        color: #fff;
      }
      &.optimizing {
        i {
          display: block;
          color: #fff;
          -webkit-animation: spin .5s infinite linear;
        }
      }
    }
    .thumb {
      background: #f8c137;
      left: 7px;
      top: 7px;
      position: absolute;
      height: 35px;
      width: 35px;
      text-align: center;
      color: #fff;
      line-height: 35px;
    }
  }
}