.prepros-options {

  padding: 10px;
  padding-left: 1px;

  .option-title {
    margin-bottom: 20px;
    margin-left: 3px;
    padding-bottom: 7px;
    border-bottom: 1px solid #ddd;
  }

  .nav-tabs {
    min-width: 150px !important;
    padding-right: 10px;
  }

  .nav-tabs>li {
    border: 0px solid #666;
  }

  .nav-tabs>li:hover {
    border-left: 5px solid #666;
    transition: all .25s;
  }

  .nav-tabs>li.active {
    border-left: 5px solid #666;
    transition: all .25s;
  }

  .nav-tabs a {
    padding-top: 5px !important;
    padding-bottom: 5px !important;
    border: none !important;
  }

  .nav-tabs a:hover {
    background: none !important;
    border: none !important;
  }
}