::-webkit-scrollbar{height:16px;overflow:visible;width:16px}
::-webkit-scrollbar-button{height:0;width:0}
::-webkit-scrollbar-track{background-clip:padding-box;border:solid transparent;border-width:0 0 0 7px}
::-webkit-scrollbar-track:horizontal{border-width:7px 0 0}
::-webkit-scrollbar-track:hover{background-color:rgba(0,0,0,.03);box-shadow:inset 1px 1px 0 rgba(0,0,0,.08)}
::-webkit-scrollbar-track:active{background-color:rgba(0,0,0,.02);box-shadow:inset 1px -1px 0 rgba(0,0,0,.10),inset -1px 1px 0 rgba(0,0,0,.05)}
::-webkit-scrollbar-track:horizontal:hover{box-shadow:inset -1px 1px 0 rgba(0,0,0,.10),inset 1px -1px 0 rgba(0,0,0,.05)}
::-webkit-scrollbar-track:vertical:hover{box-shadow:inset 1px 1px 0 rgba(0,0,0,.10),inset -1px -1px 0 rgba(0,0,0,.05)}
::-webkit-scrollbar-thumb{background-color:rgba(0,0,0,.2);background-clip:padding-box;border:solid transparent;border-width:0 0 0 7px;min-height:20px;padding:100px 0 0;box-shadow:inset 1px 1px 0 rgba(0,0,0,.08),inset -1px -1px 0 rgba(0,0,0,.05)}
::-webkit-scrollbar-thumb:hover{background-color:rgba(0,0,0,.2);box-shadow:inset 1px 1px 1px rgba(0,0,0,.10)}
::-webkit-scrollbar-thumb:horizontal{border-width:7px 0 0;padding:0 0 0 100px;box-shadow:inset -1px 1px 0 rgba(0,0,0,.1),inset 1px -1px 0 rgba(0,0,0,.07)}
::-webkit-scrollbar-thumb:active{background-color:rgba(0,0,0,.3);box-shadow:inset 1px 1px 3px rgba(0,0,0,.20)}
::-webkit-scrollbar-corner{background:transparent}
