.title-bar {
  -webkit-app-region: drag;
  width: 690px;
  height: 40px;
  background: #fff;
  box-shadow: 1px 1px 2px #d3d3d3;
  .controls {
    float: right;
    position: relative;
    z-index: 99998;
    * {
      -webkit-app-region: no-drag;
    }
    > a, > div {
      display: block;
      float: left;
      margin-top: 5px;
      margin-right: 5px;
      height: 30px;
      width: 30px;
      color: #777;
      line-height: 30px;
      text-align: center;
      text-decoration: none;
      cursor: pointer;
      &.highlight {
        color: rgba(250, 86, 33, 1);
      }
      &:hover {
        color: rgba(250, 86, 33, 0.7);
        background: rgba(250, 86, 33, 0.2);
      }
      &:active {
        color: rgba(250, 86, 33, 1);
        background: rgba(250, 86, 33, 0.4);
      }
    }

    /*Fix inconsistent behavior caused by small icon*/
    .dropdown > i {
      font-size: 17px;
      display: block;
      padding-top: 6px;
      height: 100%;
      width: 100%;
    }

    .dropdown-menu {
      text-align: left;
      -webkit-filter: drop-shadow(0px 0px 5px rgba(0,0,0,.4));
      box-shadow: none;
      i {
        display: inline-block;
        margin-right: 5px;
        line-height: 20px;
      }
      &::after {
        position: absolute;
        top: -6px;
        right: 10px;
        display: inline-block;
        border-right: 6px solid transparent;
        border-bottom: 6px solid white;
        border-left: 6px solid transparent;
        content: '';
      }
    }
  }
}