@import 'third-party';
@import 'custom-scrollbars';
@import 'base';
@import 'bs-custom';
@import 'sidebar';
@import 'titlebar';
@import 'content';
@import 'notifications';
@import 'files';
@import 'loading';
@import 'log';
@import 'multi-device';
@import 'optim-image';
@import 'options-window';


.wrapper {
  overflow: hidden;
  width: 952;
  height: 552px;
  border: 1px solid #3e3e3e;
  &:after {
        content: "";
        visibility: hidden;
        display: block;
        clear: both;
    }
}

.modal.project-options.fade.in {
  width: auto;
  margin-left: -210px;
}

.project-options .js-options label {
  margin-left: 0;
  margin-bottom: 0;
}