@import 'third-party';
@import 'custom-scrollbars';
@import 'base';
@import 'bs-custom';
@import 'sidebar';
@import 'titlebar';
@import 'content';
@import 'notifications';
@import 'files';
@import 'log';
@import 'multi-device';
@import 'optim-image';
@import 'options-window';


.wrapper {
  overflow: hidden;
  width: 952;
  height: 552px;
  border: 1px solid #3e3e3e;
  &:after {
        content: "";
        visibility: hidden;
        display: block;
        clear: both;
    }
}

.modal.project-options.fade.in {
  width: 435px;
  margin-left: -224px;
}

.project-options .js-options label {
  margin-left: 0;
  margin-bottom: 0;
}

.project-options .js-options label:last-child {
  margin-left: 20px;
}

#config-jsmin-folder {
  margin-left: 12px;
}

.modal {
  .tab-content {
    max-height: 280px;
    overflow: auto;
  }
}

#aboutModal {
  .tab-content {
    max-height: 250px;
    overflow: auto;
  }
}