<label>
    <input type="checkbox" ng-model="selectedFile.config.doubleQuotes">
    <span class="label-desc">Double quotes</span>
</label>

<label>
    <span class="label-desc">Output Format</span>
    <select ng-model="selectedFile.config.format">
        <option value="xhtml">XHTML</option>
        <option value="html5">HTML5</option>
    </select>
</label>
<label>
    <span class="label-desc">Output Style</span>
    <select ng-model="selectedFile.config.outputStyle">
        <option value="indented">Indented</option>
        <option value="ugly">Ugly</option>
    </select>
</label>