<div class="sidebar" ng-controller="SidebarCtrl">
    <ul>
        <li ng-repeat="project in projects" ng-dblclick="openProjectFolder(project.path)" ng-animate="'animate'" project-context-menu="project">
            <a ng-href="#/files/{{project.id}}" draggable="false"
               ng-class="{'active' : selectedProject.id == project.id}">{{project.name}}</a>
        </li>
    </ul>

    <div class="controls" ng-class="{'show' : selectedProject.id}">

        <div class="new-project icomoon-plus" tooltip="Add new project" ng-click="addProject()"></div>
        <div class="refresh icomoon-spinner-2" tooltip="Refresh Files" ng-click="refreshFiles()"></div>
        <div class="options icomoon-cog" tooltip="Project Options" show-modal-on-click="#optionsModal"></div>
        <div class="open icomoon-globe" tooltip="Open project live url" ng-click="openLiveUrl()"></div>
        <div class="remove icomoon-remove" tooltip="Remove project" ng-click="removeProject()"></div>

    </div>

</div>